# Python
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
venv/
env/
ENV/

# IDE / Editor Folders
.vscode/
.idea/

# OS Files
.DS_Store
Thumbs.db

# Build Artifacts
dist/
build/
*.egg-info/
